/* Sidebar.css */
.app-sidebar {
  width: 200px;
  background-color: #ffffff;
  border-right: 1px solid #e2e8f0;
  height: 100%;
  overflow-y: auto;
  flex-shrink: 0;
}

.menu-section {
  margin-bottom: 8px;
}

.menu-section-header {
  /* padding: 16px 20px 8px 20px;
  border-bottom: 1px solid #e2e8f0; */
  display: flex;
  align-items: center;
  padding: 12px 0px 8px 24px;
}

.menu-section-title {
  font-size: 12px;
  font-weight: 200;
  color: black;
  /* text-transform: uppercase; */
  /* letter-spacing: 0.5px; */
  white-space: nowrap;
  font-style: italic;
}

.menu-section-header::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #d0d0d0;
}

.menu-section-items {
  padding: 12px 12px 8px 24px;  /*arriba derecha abajo izquierda*/
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Scrollbar personalizado */
.app-sidebar::-webkit-scrollbar {
  width: 6px;
}

.app-sidebar::-webkit-scrollbar-track {
  background: #f1f5f9;
}

.app-sidebar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}

.app-sidebar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}