.filter-button {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  color: #6b7280; /* gris medio */
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.filter-button:hover{
  font-weight: bolder;
  color:  var(--button-page-active);
}

.filter-button.active {
  background-color: var(--button-page-active); /* azul oscuro */
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
