.card-scroll{
    /* border: 1px daßshed red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-scroll.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;       /* espacio mínimo */
}

.empty-msg {
  font-size: 1.1rem;
  color: #666;
}
