.custom-card {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  max-width: 100%;
  margin-bottom: 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
  overflow: hidden;
  margin-right: 10px;
}

.card-number {
  font-weight: bold;
  margin: 8px 0 0 0;
}

.card-subtitle {
  font-size: 16px;
  font-weight: 600;
  margin: 12px 0 6px;
  text-transform: capitalize;
}

.card-description {
  color: #4b5563;
  margin-bottom: 16px;
  text-transform: math-auto;
  overflow: hidden;
  margin-right: 190px;
  text-align: justify;
}