.num-resolucion {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.num-resolucion input{
  padding: 0.8rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background: #f4f4f4;
  color: black;
  resize: none;
  width: 100px;
}
.resolucion-card{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.char-count {
  font-size: 0.8rem;
  color: #555;
  margin-top: -0.5rem;
}

.error {
  border: 1.5px solid var(--error-msg);
}

.error-msg {
  color: var(--error-msg);
  font-size: 0.85rem;
  margin-top: -0.5rem;
}
